<div class="auth-wrap container-fluid">
  <div class="row min-vh-100">
    <!-- Left Illustration -->
    <div class="col-12 col-lg-6 art d-none d-lg-flex">
      <!-- You can replace the image with your own illustration -->
      <div class="art-inner">
        <img src="assets/illustrations/learning-hero.png" alt="Learning" />
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center panel">
      <div class="panel-inner">
        <div class="brand"> {{ title }} </div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
